[submodule "externals/NooDS"]
	path = externals/NooDS
	url = https://github.com/unexploredtest/NooDS.git
	branch = pynds
[submodule "externals/nanobind"]
	path = externals/nanobind
	url = https://github.com/wjakob/nanobind
